@import "globals";

form.add-contact {
  font-family: Verdana, sans-serif;
  width: 70%;
  top: 0;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: calc(100% - 12em);
  font-size: 1.7em;

  >label,
  div {
    margin: 1em 0;

  }

  label {
    font-size: 1.5em;
    text-shadow: 3px 3px 10px $snow-white;
    height: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"] {
    font-size: 1.5em;
    padding: .25em;
    border-radius: .2em;
    outline: none;
    min-height: 36px;
  }

  input[type="checkbox"] {
    transform: scale(2);
    margin: 0;
    padding: 0;
    margin-right: 2em;
  }

  div>label {
    position: relative;
    top: 2px;
  }

  .autocomplete {
    position: relative;
    input {
      width: calc(100% - .75em);
    }

    span {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 2em;
    }

    .suggestions {
      position: absolute;
      top: 2em;
      left: 0;
      width: auto;
      height: auto;
      max-height: 200px;
      background-color: white;
      overflow-y: scroll;
      z-index: 3;



      p {
        padding: 1em;
        margin: 0;

        &:hover {
          background-color: yellow;
        }
      }

      &:empty {
        display: none;
      }
    }
  }

  button {
    margin: auto;
    width: 35%;
    font-size: 2em;
    background-color: #000;
    font-weight: bold;
    color: $snow-white;
    float: left;
    padding: 5px;
  }


  


}


.text-field{
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large
}

.label{
  display: block;
  margin-bottom: 2%;
}