@import "globals";

div.contact-list {

  height: calc(100% - 13em);
  table {
    caption {
      background-color: white;
      background-color: rgba(255,255,255, .9);
      color: #8f2e32;
    }
    width: 100%;
    background-color: rgba(255,255,255, .9);
    font-family: verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;

    td {
      padding: .2em;
    }

    a {
      margin: 15px;
    }
  }
}