@import "globals";

html,
body,
div#react-container,
div.app {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 55%;
}

h1, label {
  margin: 0
}

div.app {
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
}

div.whoops-404 {
  background-color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}